<!DOCTYPE html>
<html>
	<head>	
		<%= favicon_link_tag %>		
		<%= stylesheet_link_tag "homepage.css" %>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700">
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
		<title><%= h @page_title %></title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="description” content="Videos and books for tech startup entrepreneurs and investors”>
			
	</head>
		
	<body>
		
	  <%= render "shared/navbar" %>  
	  
	 
	  
	  <div class="col-md-6">
	   	<h1 id="sectiontitle">Talks</h1>
	  </div>
	   	
	  <div class="col-md-6">
	   	<h1 class="sub-header">Books</h1>
	  </div>
	   	
	  <div class="col-md-12">
	  	<h3 class="sub-header">For Startup founders and operators:</h3>
	  </div>
	  	
	  <div class="col-md-6"> 	
		<%= render "videos/oldoperatortalks" %>
	  </div>
	 
	  <div id="oldoperatorbooks" class="col-md-6"> 
	  	<%= render "books/oldoperatorbooks" %>	
	  </div>
	  
	  <div class="col-md-12">
	  	<h3 class="sub-header">For Investors:</h3>
	  </div>
	  
	  <div id="oldinvestorbooks" class="col-md-6"> 
		<%= render "videos/oldinvestortalks" %>
	  </div>
	  
	  <div class="col-md-6"> 
	    <%= render "books/oldinvestorbooks" %>
	  </div>	
	  
	  <div class="col-md-12">
	  	<h3 class="sub-header">Mixed/ Off-Topic:</h3>
	  </div>	
	  	  	
	  <div id="oldotherbooks" class="col-md-6">
    	<%= render "videos/oldothertalks" %>  	
	  </div>
	  	 	  
	  <div class="col-md-6">
		<%= render "books/oldotherbooks" %>	  	
	  </div>	
		  	<a href="#" class="back-to-top" style="display: inline;">
		<p>Top</p>
		</a>
		
		<script>
		jQuery(document).ready(function() {
		    var offset = 250;
		    var duration = 900;
		    jQuery(window).scroll(function() {
		        if (jQuery(this).scrollTop() > offset) {
		            jQuery('.back-to-top').fadeIn(duration);
		        } else {
		            jQuery('.back-to-top').fadeOut(duration);
		        }
		    });
		
		    jQuery('.back-to-top').click(function(event) {
		        event.preventDefault();
		        jQuery('html, body').animate({scrollTop: 0}, duration);
		        return false;
		    })
		});
		</script>

	  
	  <%= render "shared/footer" %>
	  	  	  
	</body>
	
</html>
