	
	  <%= render "shared/navbar" %>    	
	  <div class="col-md-12">
	  	<h3 class="sub-header">Archive:</h3>
	  </div>

	 	
	  <div id="oldoperatorbooks" class="col-md-12"> 
	  	<%= render "books/oldoperators" %>
	  	<div class="container" style="padding-top: 10px; margin-left: auto; margin-right: auto; width: 50%;">
	  	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- TTBooks- Archive -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-3319618738478027"
		     data-ad-slot="8399402620"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
	  	<%= render "books/oldinvestors" %>
	  	<%= render "books/oldothers" %>	
	  	<div class="container" style="padding-top: 10px; margin-left: auto; margin-right: auto; width: 50%;">
	  	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- TTBooks- Archive2 -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-3319618738478027"
		     data-ad-slot="9876135827"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
		</div>

	  
<div id="pasteditions" class="col-md-12" style="margin-bottom: 80px;">
	<div class="button-container">
	  <h1>Past Editions:</h1>	
	  <a class="btn btn-default btn-block" href="http://benchmark.bmetrack.com/c/v?e=75615C&c=76CC6&t=0&l=87FD12C&email=FtF8f%2B2bGOGzBj%2BSEQyZ1EyPBhzqZXIgBJcAT8xErqg%3D">May Edition</a>	   
	  <a class="btn btn-default btn-block" href="http://mail.great-news-today.com/pp/8l8t38asji/n1zsc0h3vm/">April Edition</a> 
	  <a class="btn btn-default btn-block" href="http://mail.send-email-campaign.de/p/8rwbem62so/ilmuo9ejpi/">March Edition</a>	   
	  
	  
	</div>
</div>	 
	  
		<a href="#" class="back-to-top" style="display: inline;">
		<i class="fa fa-arrow-up fa-2x"></i>
		</a>
		
		<script>
		jQuery(document).ready(function() {
		    var offset = 250;
		    var duration = 900;
		    jQuery(window).scroll(function() {
		        if (jQuery(this).scrollTop() > offset) {
		            jQuery('.back-to-top').fadeIn(duration);
		        } else {
		            jQuery('.back-to-top').fadeOut(duration);
		        }
		    });
		
		    jQuery('.back-to-top').click(function(event) {
		        event.preventDefault();
		        jQuery('html, body').animate({scrollTop: 0}, duration);
		        return false;
		    })
		});
		</script>

	  
	  <%= render "shared/footer" %>
	  	  	  

