	
	  <%= render "shared/navbar" %>    	
	  <div class="col-md-12">
	  	<h3 class="sub-header">For Startup founders and operators:</h3>
	  </div>

	 
	 <% cache(cache_key_for_books) do %>	
	  <div id="oldoperatorbooks" class="col-md-12"> 
	  	<%= render "books/oldoperators" %>	
	  </div>	 
	 <% end %>	 
	  <div class="col-md-12">
	  	<h3 class="sub-header">For Investors:</h3>
	  </div>
	 

	 
	 <% cache(cache_key_for_books) do %>
	  <div class="col-md-12"> 
	    <%= render "books/oldinvestors" %>
	  </div>	
	 <% end %>
	 
	  
	  <div class="col-md-12">
	  	<h3 class="sub-header">Mixed/ Off-Topic:</h3>
	  </div>	
	 

	  <% cache(cache_key_for_books) do %>	 	  
	  <div class="col-md-12" style= "margin-bottom: 120px;">
		<%= render "books/oldothers" %>	  	
	  </div>
	  <% end %>	
		  	<a href="#" class="back-to-top" style="display: inline;">
		<i class="fa fa-arrow-up fa-2x"></i>
		</a>
		
		<script>
		jQuery(document).ready(function() {
		    var offset = 250;
		    var duration = 900;
		    jQuery(window).scroll(function() {
		        if (jQuery(this).scrollTop() > offset) {
		            jQuery('.back-to-top').fadeIn(duration);
		        } else {
		            jQuery('.back-to-top').fadeOut(duration);
		        }
		    });
		
		    jQuery('.back-to-top').click(function(event) {
		        event.preventDefault();
		        jQuery('html, body').animate({scrollTop: 0}, duration);
		        return false;
		    })
		});
		</script>

	  
	  <%= render "shared/footer" %>
	  	  	  

