<!DOCTYPE html>
<html>
	<head>		
		<%= stylesheet_link_tag "homepage.css" %>
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700">
		 <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
		<title>Tech Talks and Books</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="text/css">
			#mc_embed_signup{background:#cccccc; clear:right; margin-top: auto; padding-top: 0px; margin-left: 50px; font:17px Helvetica,Arial,sans-serif;  width:500px;}
			/* Styling for Mailchimp form */
		</style>
	</head>
		
	<body>
		
	  <%= render "shared/navbar" %>
	  <%= render "shared/logobanner" %>	  
	  <%= render "shared/newsletterform" %>
	  <%= render "shared/anchornavbar" %>
	  <div class="col-md-6">
	  	
	  	<h1 id="sectiontitle">Latest Talks</h1>	  	
	  	<h3 class="sub-header">For Operators:</h3>
	  		  	
	  	<%= render "videos/operatortalks" %>	  	
		<div id="invvideos"></div>  
	  	<h3 class="sub-header">For Investors:</h3>			
	  	
	  	<%= render "videos/investortalks" %>	
	  	<div id="othertalks"></div> 
	  	<h3 class="sub-header">Mixed/ Off-Topic:</h3>
		 <%= render "videos/othertalks" %>	
		 <a class="btn btn-default btn-block" href="/archive"> View More </a>
	  </div>	  	
	  	 	  
	  <div class="col-md-6">
	  
	    <h1 class="sub-header">Latest Books</h1>
	    <h3 class="sub-header">For Operators:</h3>
	    
	    
	  	<%= render "books/operatorbooks" %>
	 	<div id="invbooks"></div>  
	    <h3 class="sub-header">For Investors:</h3>
	    
	    <%= render "books/investorbooks" %>			
	  	<div id="otherbooks"></div> 
	  	<h3 class="sub-header">Mixed/ Off-Topic:</h3>
	  	
	  	<%= render "books/otherbooks" %>			
	  	
		<a class="btn btn-default btn-block" href="/archive"> View More </a>
	  </div>
	  </body>	
	  	<!-- Begin MailChimp Popup -->
	    <!--<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"fa489b5d979064f7da4691642","lid":"c3520ee04d"}) })
	    </script>-->
	    <!-- End MailChimp Popup -->
		

	  <%= render "shared/footer" %>
	  	  	  
	
	
</html>