
		
	  <%= render "shared/navbar" %>
	  <%= render "shared/logobanner" %>	
	  
	  <%= render "shared/anchornavbar" %>
	  <%= render "shared/newsletterform" %> 
	  
	  	<div class="col-md-12">
	  		
	  		<h3 class="sub-header">For Startup founders:</h3>
	  	</div>
		
		<% cache do %>
 	
	  	<div class="col-md-12">
	    	<%= render "books/operators" %>
	 	</div>
	 	
		
	 	<div class="col-md-12" id="Invheader">
	 		<h3 class="sub-header">For Investors:</h3>	
	 	</div>

	  	
	  	<div class="col-md-12">
	 	
	 	<div id="invbooks"></div>             
	    	<%= render "books/investors" %>  	
	  	</div>
	  	
	  	<div class="col-md-12" id="Othheader">
	 		<h3 class="sub-header">Mixed/ Off-Topic:</h3>	
	 	</div>

	 	
	 	<div class="col-md-12">			
	  	
	  	<div id="otherbooks"></div> 
	  		<%= render "books/others" %>	
	  	<a class="btn btn-default btn-block" href="/archive" style="margin-bottom: 70px;"> View More </a>	  		  			
	  	<% end %>
		</div>
	  
	  	<a href="#" class="back-to-top" style="display: inline;">
		<i class="fa fa-arrow-up fa-2x"></i>
		</a>
		
		<script>
		jQuery(document).ready(function() {
		    var offset = 250;
		    var duration = 900;
		    jQuery(window).scroll(function() {
		        if (jQuery(this).scrollTop() > offset) {
		            jQuery('.back-to-top').fadeIn(duration);
		        } else {
		            jQuery('.back-to-top').fadeOut(duration);
		        }
		    });
		
		    jQuery('.back-to-top').click(function(event) {
		        event.preventDefault();
		        jQuery('html, body').animate({scrollTop: 0}, duration);
		        return false;
		    })
		});
	  </script>
	  
	  
	  <%= render "shared/footer" %>
