	
	  <%= render "shared/navbar" %>
	  <div class="container" style="padding-top: 10px;">
	  	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- TTBooks- Blog -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-3319618738478027"
		     data-ad-slot="2352869027"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
	  <% cache do %>
	  	<% @blogs.each do |blog| %>
	  	<div class="container" id="blogcontainer">
	      <h1 id="blogtitle"><%= link_to blog.title, controller: "blogs", action: "show", id: blog %></h1>
          <p id="blogposttext" style="font-size:  18px;"> <%= simple_format blog.body.first(600).html_safe %> (...)</p>
	  	
	  	<br />
	  	 <a href="/blogs/<%= blog.id %>" role="button" class="btn btn-warning" style="color: white">Read More</a>
		
	  	<br />
	  	</div>
	  <% end %>
	<% end %>
	  <%= render "shared/footer" %>	
