<% @othervideos.each do |video| %>
  <div class="video">
  	<div id="avatar"><iframe width="522" height="349" src="<%= video.url %>" allowfullscreen></iframe></div>
  <div class="panel panel-default">	
	<div class="panel-heading">
	
	<%= link_to video.title, video %>	

	</div>
	  <div class="panel-body">
    	<table class="table">
	    	  <tr>
	    	    <%= button_to '+1', upvotevideo_video_path(video), method: :post, class: 'btn btn-small' %>
 			    <button class="btn btn-small" disabled style="margin-left: 1px;"><%= pluralize(video.votes.count, "vote") %></button>	 			
 			  
 			  </tr>	
 			</table> 			
	    	<p><%= video.description %></p>	    		    	
	  </div>

	  <table class="table">
	    <tr>
			<td>Date</td>
			<td><%= video.uploaded %></td>
    	</tr>
    	<tr>
			<td>Speakers</td>
			<td><%= video.speakers %></td>
    	</tr>		    	
	  </table>
	</div>
	<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-tags" aria-hidden="true" style="padding-right: 7px;"></span><%= video.genre %></button>
	</div>
<% end %>