	  <%= render "shared/navbar" %>
	
	<div class="container" id="blogcontainer">
	<div class="panel panel-default">	
	<div class="panel-heading">
	
	<%= @video.title %>	

	</div>
	
	  <div class="panel-body">
		<iframe style="margin-left: auto; margin-right: auto; margin-bottom: 15px; display:block" width="522" height="349" src="<%= @video.url %>"></iframe>  	   
	    	
	    	
	    	<table class="table">
	    	  <tr>
	    	  	<div id="buttons">
	    	    <%= button_to '+1', upvotevideo_video_path(@video), method: :post, class: 'btn btn-small' %>
 			    <button class="btn btn-small" disabled style="margin-left: 1px; margin-right: 5px;"><%= pluralize(@video.votes.count, "vote") %></button>	 			
 			  
			   <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
			 	<script type="text/javascript">
	  				reddit_url = <%= @video.url %>;
	  				reddit_title = <%= @video.title %>;
	 				reddit_bgcolor = "FF3";
	  				reddit_bordercolor = "00F";
				</script>
				<script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="TechTalksBooks" data-related="TechTalksBooks" data-dnt="true" data-align="right" >Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
		
 			  </tr>	
 			</table> 			
	    	<p><%= @video.description %></p>	    		    	
	  </div>

	  <table class="table">
	    <tr>
			<td>Date</td>
			<td><%= @video.uploaded %></td>
    	</tr>
    	<tr>
			<td>Speakers</td>
			<td><%= @video.speakers %></td>
    	</tr>
    	<div style="float:left; padding-right: 10px;">
			 	    	<h3 style="text-align: left;">Related Content</h3>
			 	    	<ul><a href="<%= @video.related1 %>" onClick="ga('send', 'event', { eventCategory: 'Related Content', eventAction: 'Link Click', eventLabel: 'Investor Video'});" style="color: #E62B1E; text-decoration: none;" ><%= @video.related1name %></a></ul>
			 	    	<ul><a href="<%= @video.related2 %>" onClick="ga('send', 'event', { eventCategory: 'Related Content', eventAction: 'Link Click', eventLabel: 'Investor Video'});" style="color: #E62B1E; text-decoration: none;"><%= @video.related2name %></a></ul>
			 	    	<ul><a href="<%= @video.related3 %>" onClick="ga('send', 'event', { eventCategory: 'Related Content', eventAction: 'Link Click', eventLabel: 'Investor Video'});" style="color: #E62B1E; text-decoration: none;"><%= @video.related3name %></a></ul>
		</div>
				     		    	
	  </table>
	</div>
	<div id="disqus_thread"></div>
			<script type="text/javascript">
		    var disqus_shortname = 'ttbooks';
		    
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	  </div>
</div>
	  <%= render "shared/footer" %>
