<% @investorbooks.each do |book| %>
<div class="book">
	<div id="avatar">
     <a href="<%= book.amazon %>"><%= image_tag book.avatar.url(:medium), alt: book.alt %> </a> 	
  	
  	</div>
  	<div class="panel panel-default" id="bookpanel">
  		
  	  
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  <a><%= link_to book.title, book %></a></div>
	  <div class="panel-body">
	  	<table class="table">
	    	  <tr>
	    	  
 			    <%= button_to '+1', upvotebook_book_path(book), method: :post, class: 'btn btn-small' %>
 			    <button class="btn btn-small" disabled style="margin-left: 1px;"><%= pluralize(book.votes.count, "vote") %></button>	 			
 			   
 			  </tr>	
 			</table>
	    <p><%= book.header %></p>
	    
	  </div>			
	  <!-- Table -->
	  <table class="table">
	    <tr>
			<td>Release date</td>
			<td><%= book.release %></td>
    	</tr>
    	<tr>
			<td>Author</td>
			<td><%= book.author %></td>
    	</tr>	
    		    	
	  </table>
	  
	</div>			
<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-tags" aria-hidden="true" style="padding-right: 7px;"></span><%= book.genre %></button>
</div>
<% end %>