<% @otherbooks.each do |book| %>
<div class="book">
	<div id="avatar">
    <%= image_tag book.avatar.url(:medium) %>  	
  	
  	</div>	  	
  	<div class="panel panel-default">
  		
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	<a href="<%= book.amazon %>">	<%= book.title %></a></div>
	  <div class="panel-body">
	    <p><%= book.header %></p>
	    
	  </div>			
	  <!-- Table -->
	  <table class="table">
	    <tr>
			<td>Release date</td>
			<td><%= book.release %></td>
    	</tr>
    	<tr>
			<td>Author</td>
			<td><%= book.author %></td>
    	</tr>	
    	<tr>
			<td>Publisher</td>
			<td><%= book.publisher %></td>
    	</tr>	    	
	  </table>
	  
	</div>			
</div>
<button type="button" class="btn btn-primary btn-round"><%= book.genre %></button>
<% end %>