	
	  <%= render "shared/navbar" %>
	  
	  	<div class="book" style="margin-left: 200px; margin-right: 200px;">
			<div id="avatar">
		     <% if @book.imageurl.present? %>	
			    <a href="<%= @book.amazon %>"><%= image_tag @book.imageurl, alt: @book.alt %></a>
			    <% end %>
		  	</div>
		  	<div class="panel panel-default" id="bookpanel">
		  		
			  <div class="panel-heading">
			  <a href="<%= @book.amazon %>">	<%= @book.title %></a></div>
			  <div class="panel-body">
			  	<table class="table">
			    	  <tr>
			    	    <div id="buttons">
		 			    <%= button_to '+1', upvotebook_book_path(@book), method: :post, class: 'btn btn-small' %>
		 			    <button class="btn btn-small" disabled style="margin-left: 1px; margin-right: 5px;"><%= pluralize(@book.votes.count, "vote") %></button>	 			
		 			  <% if @book.free_book == "true" %>
		     <button class="btn btn-small" style="margin-left: 1px; margin-right: 5px;"><a href="<%= @book.amazon %>" style="color: black;">Free Book- Read Now</a></button>	
		     <% end %></tr>
		     
		     <br /><tr>
					   <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
					 	<script type="text/javascript">
			  				reddit_url = <%= @book.amazon %>;
			  				reddit_title = <%= @book.title %>;
			 				reddit_bgcolor = "FF3";
			  				reddit_bordercolor = "00F";
						</script>
						
						<script type="text/javascript" src="//www.redditstatic.com/button/button1.js" style="margin-right: 10px;"></script>
				 	  	<a href="https://twitter.com/share" class="twitter-share-button" data-via="TechTalksBooks" data-related="TechTalksBooks" data-dnt="true" data-align="right" >Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
				 	  </tr>	
				 	  
		 		</table>
			    <p><%= @book.header %></p>
			    
			  </div>			
			  <!-- Table -->
			  <table class="table">
			    <tr>
					<td>Release date</td>
					<td><%= @book.release %></td>
		    	</tr>
		    	<tr>
					<td>Author</td>
					<td><%= @book.author %></td>
		    	</tr>	
		    		    	
			  </table>
			  
			</div>			
		<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-tags" aria-hidden="true" style="padding-right: 7px;"></span><%= @book.genre %></button>
				<div id="disqus_thread"></div>
			<script type="text/javascript">
		    var disqus_shortname = 'ttbooks';
		    
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	  </div>
		
		</div>
	  <%= render "shared/footer" %>

