<!DOCTYPE html>
<html>
<head>
	  <title><%= h @page_title %></title>
	  <%= favicon_link_tag %>	
	  <%= stylesheet_link_tag "homepage.css" %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>		
	  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:700">
	  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
	  
	  <meta property="og:title" content="TTBooks- The best source for the latest startup videos, talks, books and reads.">
	  <meta name="description" content="Videos and books about business, marketing, funding, engineering and much more for tech startup entrepreneurs and investors." >
		<meta property="og:type" content="article" />
		<meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/ttbooks/Tech+Talks+%26+Books-logo+(2).png" />
		<meta property="og:description" content="Videos and books about business, marketing, funding, engineering and much more for tech startup entrepreneurs and investors." />
		<meta property="fb:admins" content="525089848" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="alternate" type="application/rss+xml" title="TTBooks RSS Feed" href="https://www.ttbooks.io/videofeed?format=rss" />
		<style type="text/css">
			#mc_embed_signup{background:#eeeeee; clear:right; margin-top: auto; padding-top: auto; margin-right: auto; margin-left: auto; font:17px Montserrat,sans-serif;  width:100%;}
		</style>
		<meta name="p:domain_verify" content="6b7e6bc3710d7d58485eb3250f4dc1dc"/>
	    <script src="//hnbutton.appspot.com/static/hn.min.js" async defer></script>
	  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" async></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<script async>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-60028536-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	
</head>
<body>

<%= yield %>

</body>
</html>
